// 此自定义uView主题生成于2021-09-19 12:55
// 地址：http://www.uviewui.com/guide/theme.html

$u-type-primary: #2979ff;
$u-type-error: #fa3534;
$u-type-warning: #ff9900;
$u-type-success: #19be6b;
$u-type-info: #909399;
$u-type-primary-light: #ecf5ff;
$u-type-error-light: #fef0f0;
$u-type-warning-light: #fdf6ec;
$u-type-success-light: #dbf1e1;
$u-type-info-light: #f4f4f5;
$u-type-primary-dark: #2b85e4;
$u-type-error-dark: #dd6161;
$u-type-warning-dark: #f29100;
$u-type-success-dark: #18b566;
$u-type-info-dark: #82848a;
$u-type-primary-disabled: #a0cfff;
$u-type-error-disabled: #fab6b6;
$u-type-warning-disabled: #fcbd71;
$u-type-success-disabled: #71d5a1;
$u-type-info-disabled: #c8c9cc;
$u-main-color: #303133;
$u-content-color: #606266;
$u-tips-color: #909399;
$u-light-color: #c0c4cc;
$u-border-color: #e4e7ed;
$u-bg-color: #f3f4f6;
$u-form-item-border-color: #dcdfe6;
$u-form-item-height: 70rpx;

/* 黑蓝色 */
$u-type-darkblue: #014794;
$u-type-darkblue-light: #bad3ee;
$u-type-darkblue-disabled: #6991bd;
$u-type-darkblue-dark: #1c62ad;

/* 金色*/
$u-type-gold: #dcb170;
$u-type-gold-light: #f8f0e5;
$u-type-gold-disabled: #e0c9a5;
$u-type-gold-dark: #cea973;
