// 主题颜色
$is-type-primary: $u-type-primary;
$is-type-error: $u-type-error;
$is-type-warning: $u-type-warning;
$is-type-success: $u-type-success;
$is-type-info: $u-type-info;
$is-type-primary-light: $u-type-primary-light;
$is-type-error-light: $u-type-error-light;
$is-type-warning-light: $u-type-warning-light;
$is-type-success-light: $u-type-success-light;
$is-type-info-light: $u-type-info-light;
$is-type-primary-dark: $u-type-primary-dark;
$is-type-error-dark: $u-type-error-dark;
$is-type-warning-dark: $u-type-warning-dark;
$is-type-success-dark: $u-type-success-dark;
$is-type-info-dark: $u-type-info-dark;
$is-type-primary-disabled: $u-type-primary-disabled;
$is-type-error-disabled: $u-type-error-disabled;
$is-type-warning-disabled: $u-type-warning-disabled;
$is-type-success-disabled: $u-type-success-disabled;
$is-type-info-disabled: $u-type-info-disabled;
// 其他颜色
$is-main-color: $u-main-color;
$is-content-color: $u-content-color;
$is-tips-color: $u-tips-color;
$is-light-color: $u-light-color;
$is-border-color: $u-border-color;
$is-bg-color: $u-bg-color;
$is-form-item-border-color: $u-form-item-border-color;
$is-form-item-height: $u-form-item-height;
