// @import '../../theme.scss';
// 定义变量
$rate: 2;
$unit: rpx;
$min: 0;
$max: 80;
$step: 1;
// 宽度
$width-min: 0;
$width-max: 100;
$width-step: 10;
// 字体
$font-min: 12;
$font-max: 40;
$font-step: 1;
// 圆角
$radius-min: 0;
$radius-max: 10;
$radius-step: 1;

.is-page-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

/* 盒子模型 */
.is-box {
  box-sizing: border-box;
}

/* 布局 */
.is-flex {
  display: flex;
  flex-direction: row;
}

.is-flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.is-flex-1 {
  flex: 1;
}

.is-block {
  display: block;
}

.is-inline-block {
  display: inline-block;
}

.is-flex-row {
  flex-direction: row;
}

.is-flex-column {
  flex-direction: column;
}

.is-justify-end {
  justify-content: flex-end;
}

.is-justify-center {
  justify-content: center;
}

.is-justify-start {
  justify-content: flex-start;
}

.is-justify-between {
  justify-content: space-between;
}

.is-justify-around {
  justify-content: space-around;
}

.is-align-start {
  align-items: flex-start;
}

.is-align-center {
  align-items: center;
}

.is-align-end {
  align-items: flex-end;
}

.is-align-stretch {
  align-items: stretch;
}

.is-auto-center {
  margin: 0 auto;
}

/* 颜色 */
.is-white {
  color: #fff;
}

.is-bg-white {
  background-color: #fff;
}

/* 字体 */
.is-font-normal {
  font-weight: normal;
}

.is-font-light {
  font-weight: 300;
}

.is-font-bold {
  font-weight: 700;
}

.is-font-italic {
  font-style: italic;
}

.is-text-left {
  text-align: left;
}

.is-text-right {
  text-align: right;
}

.is-text-center {
  text-align: center;
}

.is-text-underline {
  text-decoration: underline;
}

/* start--文本行数限制--start */
.is-line-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.is-line-2 {
  -webkit-line-clamp: 2;
}

.is-line-3 {
  -webkit-line-clamp: 3;
}

.is-line-4 {
  -webkit-line-clamp: 4;
}

.is-line-5 {
  -webkit-line-clamp: 5;
}

.is-line-2,
.is-line-3,
.is-line-4,
.is-line-5 {
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box; // 弹性伸缩盒
  -webkit-box-orient: vertical; // 设置伸缩盒子元素排列方式
}

/* end--文本行数限制--end */

/* 元素*/
/* 模拟 a 的点击效果 */
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

.is-a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: inherit;
}

.is-a:active {
  background-color: #ececec;
}
.is-p {
  font-size: 32 + $unit;
  color: $is-main-color;
  line-height: 2;
  margin-bottom: 30 + $unit;
  text-align: justify;
}

.is-h1,
.is-h2,
.is-h3,
.is-h4,
.is-h5,
.is-h6 {
  color: $is-main-color;
  font-weight: normal;
}

/*字体大小*/
@for $i from $font-min through $font-max {
  @if $i % $font-step == 0 {
    .is-font-#{$i} {
      width: $i * $rate + $unit !important;
    }
  }
}

/*页面宽度*/
@for $i from $width-min through $width-max {
  // 只要能被10除尽的数
  @if $i % $width-step == 0 {
    .is-width-#{$i} {
      width: $i + 0% !important;
    }

    .is-width-#{$i}px {
      width: $i * $rate + $unit !important;
    }
  }
}

/* 位置 定位 */
.is-floatr {
  float: right;
}

.is-floatl {
  float: left;
}

.is-absolute {
  position: absolute;
}

.is-relative {
  position: relative;
}

.is-fixed {
  position: fixed;
}

/* 圆角 */
.is-circle {
  border-radius: 50%;
}

/* 含有阴影 */
.is-shadow {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05);
}

/* 四周含有阴影 */
.is-shadow-all {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

/* 含有边框 */
.is-border {
  border: 1px solid $is-border-color;
}

/* 徽标 */
.is-badge-border {
  border: 1px solid $is-border-color;
  padding: 6 + $unit 6 + $unit;
}

/* 圆角 border-radius */
.is-radius {
  border-radius: 8px;
}

/* 圆角 is-radius-1, is-radius-top-1 */
@for $i from $radius-min through $radius-max {
  @if $i % $radius-step == 0 {
    .is-radius-#{$i} {
      border-radius: $i + px;
    }

    .is-radius-top-#{$i} {
      border-top-left-radius: $i + px;
      border-top-right-radius: $i + px;
    }
  }
}

/* 边框 border 1px */
.is-borderb:before {
  border-bottom: 1px solid $is-border-color;
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform-origin: left bottom;
}

.is-bordert:before {
  border-top: 1px solid $is-border-color;
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform-origin: left top;
}

.is-borderl:before {
  border-left: 1px solid $is-border-color;
  content: '';
  display: block;
  bottom: 0;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform-origin: left top;
}

.is-borderr:before {
  border-right: 1px solid $is-border-color;
  content: '';
  display: block;
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform-origin: right top;
}

.is-bordert,
.is-borderl,
.is-borderb,
.is-borderr,
.is-bordertb,
.is-bordera,
.is-border-radius {
  position: relative;
}

.is-bordertb:before {
  border-top: 1px solid $is-border-color;
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform-origin: left top;
}

.is-bordertb:after {
  border-bottom: 1px solid $is-border-color;
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform-origin: left bottom;
}

.is-bordera:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid $is-border-color;
  -webkit-transform-origin: 0 0;
  padding: 1px;
  -webkit-box-sizing: border-box;
  pointer-events: none;
  z-index: 10;
  pointer-events: none;
}

.is-border-radius:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid $is-border-color;
  -webkit-transform-origin: 0 0;
  padding: 1px;
  -webkit-box-sizing: border-box;
  border-radius: 4px;
  pointer-events: none;
  z-index: 10;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .is-bordert:before,
  .is-borderr:before,
  .is-borderb:before,
  .is-borderl:before,
  .is-bordertb:before,
  .is-bordertb:after {
    -webkit-transform: scaleY(0.5);
  }

  .is-bordera:before {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
  }

  .is-border-radius:before {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    border-radius: 8px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .is-bordert:before,
  .is-borderr:before,
  .is-borderb:before,
  .is-borderl:before,
  .is-bordertb:before,
  .is-bordertb:after {
    -webkit-transform: scaleY(0.3333);
  }

  .is-bordera:before {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.3333);
  }

  .is-border-radius:before {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.3333);
    border-radius: 12px;
  }
}

// 定义内外边距，历遍1-80
@for $i from $min through $max {
  @if $i % $step == 0 {
    // 得出：is-mg-i
    .is-mg-#{$i} {
      margin: $i * $rate + $unit !important;
    }

    // 得出：is-mgtb-i
    .is-mgtb-#{$i} {
      margin: $i * $rate + $unit 0 !important;
    }

    // 得出：is-mglr-i
    .is-mglr-#{$i} {
      margin: 0 $i * $rate + $unit 0 !important;
    }

    // 得出：is-pd-i
    .is-pd-#{$i} {
      padding: $i * $rate + $unit !important;
    }

    // 得出：is-pdtb-i
    .is-pdtb-#{$i} {
      padding: $i * $rate + $unit 0 !important;
    }

    // 得出：is-pdlr-i
    .is-pdlr-#{$i} {
      padding: 0 $i * $rate + $unit 0 !important;
    }

    @each $short, $long in l left, t top, r right, b bottom {
      // 缩写版，结果如： is-mgl-i
      // 定义外边距
      .is-mg#{$short}-#{$i} {
        margin-#{$long}: $i * $rate + $unit !important;
      }

      // 定义内边距
      .is-pd#{$short}-#{$i} {
        padding-#{$long}: $i * $rate + $unit !important;
      }
    }
  }
}

/* start 按钮  */
.is-btn {
  display: block;
  position: relative;
  text-align: center;
  background-color: #fff;
  color: $is-main-color;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 6 + $unit;
  text-decoration: none;
  padding: 32 + $unit;
  font-size: 34 + $unit;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.15s;
  border: 1px solid #fff;

  &::after {
    border: none;
  }

  &.medium {
    display: inline-block;
    padding: 20 + $unit;
    font-size: 30 + $unit;
    min-width: 280 + $unit;
  }

  &.mini {
    display: inline-block;
    padding: 10 + $unit 20 + $unit;
    font-size: 24 + $unit;
  }

  &.circle {
    border-radius: 100 + $unit;
  }

  &.disabled {
    border: 0;
    color: #bbb;
    background: #e9ebec;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }

  &:not(.disabled):not(:disabled):active,
  &.active {
    opacity: 0.7;
  }

  &.primary {
    color: #ffffff;
    border-color: $is-type-primary;
    background-color: $is-type-primary;
    &.disabled {
      color: #ffffff !important;
      border-color: $is-type-primary-disabled !important;
      background-color: $is-type-primary-disabled !important;
    }
    &.plain {
      color: $is-type-primary !important;
      border-color: $is-type-primary-disabled !important;
      background-color: $is-type-primary-light !important;
    }
  }

  &.success {
    color: #ffffff;
    border-color: $is-type-success;
    background-color: $is-type-success;
    &.disabled {
      color: #ffffff !important;
      border-color: $is-type-success-disabled !important;
      background-color: $is-type-success-disabled !important;
    }
    &.plain {
      color: $is-type-success !important;
      border-color: $is-type-success-disabled !important;
      background-color: $is-type-success-light !important;
    }
  }

  &.error {
    color: #ffffff;
    border-color: $is-type-error;
    background-color: $is-type-error;
    &.disabled {
      color: #ffffff !important;
      border-color: $is-type-error-disabled !important;
      background-color: $is-type-error-disabled !important;
    }
    &.plain {
      color: $is-type-error !important;
      border-color: $is-type-error-disabled !important;
      background-color: $is-type-error-light !important;
    }
  }

  &.warning {
    color: #ffffff;
    border-color: $is-type-warning;
    background-color: $is-type-warning;
    &.disabled {
      color: #ffffff !important;
      border-color: $is-type-warning-disabled !important;
      background-color: $is-type-warning-disabled !important;
    }
    &.plain {
      color: $is-type-warning !important;
      border-color: $is-type-warning-disabled !important;
      background-color: $is-type-warning-light !important;
    }
  }
}
